.AdminAllRoomWrap{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    gap: 20px;
    margin-top: 40px;
}
.AdminAllRoomWrap::-webkit-scrollbar{
    width: 2px;
}
.AdminAllRoomWrap::-webkit-scrollbar-thumb{
    background-color: transparent;
}
.AdminAllRooMain{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.AdminAllRooms_Card{
    width: 300px;
    height: auto;
    border: 1px solid lightgrey;
    padding: 10px;
    text-decoration: none;
    color: black;
}