.Admin_forget{
    width: 100%;
    height:100vh;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .Admin_Forget_Password_NewRoomLogo{
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .resetwrap{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
  }
  .Admin_forget_pointer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .Admin_forget_pointer_Wrap{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Admin_forget_Form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .Admin_forget_text h2{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .Admin_forget_input{
    width: 500px;
    padding: 15px;
    border-radius: 5px;
    border-color: transparent;
    outline: 1px solid rgb(45, 188, 255);
  }
  .Admin_forget_button{
    width: 500px;
   height: 40px;
    border-radius: 5px;
    border-color: transparent;
    background-color:  rgb(45, 188, 255);
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 600;
  }
  .Admin_forget_back{
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(85, 84, 84);
  }
  .Admin_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .Admin_ForgetPasswordInstruction{
    font-size: 15px;
    text-align: center;
    width: 60%;
    font-weight: lighter;
  }
  .Admin_Forget_Succes_MessageDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .SuccessMessage{
   font-size: 15px;
  }
  @media screen and (max-width: 426px){
    .Admin_forget_input{
        width: 400px;
        padding: 10px 10px;
        border-radius: 5px;
        border-color: transparent;
        /* border: 2px solid gray; */
      }
      .Admin_forget_button{
        width: 400px;
      }
      .Admin_forget_Form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .SuccessMessage{
        font-size: 18px;
        text-align: center;
       }
       .Admin_forget_pointer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: red; */
      }
      .Admin_forget_pointer_Wrap{
        width: 55%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Admin_ForgetPasswordInstruction{
        font-size: 15px;
        width: 100%;
        font-weight: lighter;
        display: flex;
        justify-content: center;
      }
      .p{
        width: 400px;
      }
  }