.AdminNotificationMain {
    width: 60%;
    height: auto;
    position: relative;
    top: 200px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 8px;
  
}

ul {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
ul::-webkit-scrollbar{
    width: 2px;
}
ul::-webkit-scrollbar-thumb{
    background-color: transparent;
}
li {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    color: black;
}
@media screen and (max-width: 426px){
    .AdminNotificationMain{
        width: 100vw;
        position: relative;
        top: 200px;
    }
    li{
        border-bottom: 1px solid black;
    }
}