.Landing4Main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.Landing4Card{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Landing4Heading{
    margin: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Landing4CardWrap{
    width: 350px;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 8px ;
    padding: 5px;

}
.Landing4HotelImg{
    width: 100%;
    height: 200px;
}
.Landing4Details{
    width: 100%;
    padding: 10px;
    /* height: 150px; */
}