.UserHistoryMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.UserHistoryWrap{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
}
.UserHistoryCard{
    width: 300px;
    height: auto;
    border: 1px solid lightgrey;
    padding: 10px;
}
.UserHistoryRoomImg{
    width: 100%;
    height: 200px;
}