.AdminDashBoardMain{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.AdminDashboard_Main_Wrap{
    width: 100%;
    display: flex;
}
.AdminDasboard_Main_Left{
    width: 25%;
    height: 100vh;
}
.AdminDashboard_Main_Right{
    width: 75%;
    height: 100vh;
    /* background-color: blue; */
}