.AdminDashBoardMain{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.AdminDashboard_Main_Wrap{
    width: 100%;
    display: flex;
}
.AdminDasboard_Main_Left{
    width: 20%;
    height: 100vh;
}
.AdminDashboard_Main_Right{
    width: 80%;
    height: 100vh;
    /* background-color: blue; */
}
@media screen and (max-width: 426px){
    .AdminDashboard_Main_Right{
        width: 100%;
    }
    .AdminDasboard_Main_Left{
        display: none;
    }
}