.Add_Hotel_Main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    overflow-y: auto;

}

.Add_Hotel_Main_Wrap {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: cornflowerblue; */
    /* flex-direction: column; */
}

.InputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputLocation {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Label2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: black;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}

.InputMainLeft {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* background-color: green; */
}

.AddHotelInput {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(45, 185, 255);
    padding: 10px;
}


.label1 {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.ImageInput {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(45, 185, 255);
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.InputDesc {
    width: 500px;
    border: none;
    outline: 1px solid rgb(45, 185, 255);
    height: 100px;
    padding: 10px;
}

.Add_Hotel_Bttn_Div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Add_Hotel_Bttn {
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(45, 185, 255);
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

@media screen and (max-width: 426px) {
    .Add_Hotel_Main {
        width: 100%;
        height: auto;
        /* margin-top: 100px; */
    }

    .Add_Hotel_Main_Wrap {
        width: 100%;
        height: auto;
        /* margin-top: 100px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* overflow-y: scroll; */
    }

    .ImageInput {
        width: 350px;
    }

    .AddHotelInput {
        width: 350px;
    }

    .InputDesc {
        width: 350px;
    }

    .InputMainLeft {
        width: 100%;
        height: auto;
        /* margin-top: 100px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .InputDivLocation {
        width: 92%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .InputLocation {
        width: 350px;
        display: flex;
        gap: 10px;
    }

    .label1 {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .Label2 {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}