.LoginMain {
    width: 100%;
    height: 100%;
    display: flex;
}
.AdminwelcomeMssg {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5390D9;
    color: rgb(255, 241, 241);
    position: absolute;
    top: 0px;
    font-size: 12px;
    margin-top: 15px;
    padding: 10px;
  }
.LoginNewRoomLogo{
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}
.LoginLeft {
    width: 50%;
    height: 100%;
}

.LoginRight {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LoginRight h1 {
    color: white;
    margin: 0px;
    padding: 0px;
}

.LoginImageLeft {
    width: 100%;
    height: 100%;
}

.LoginForm {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.LoginInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.LoginInputPass{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px; 
}
.Input {
    width: 400px;
    height: 40px;
    padding: 10px;
    outline: none;
}
.InputPass{
    width: 350px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: none;
}
.Input_EyeIcon{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgray;
}
.password-toggle{
    width: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
label {
    width: 400px;
    margin-bottom: 10px;
    color:rgb(255, 255, 255);
    font-weight: bolder;
}

.LoginBttn {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(45, 185, 255);
    color: white;
    font-size: 18px;
}

.LoginSpan {
    margin-top: 15px;
    color: white;
}

.LoginSpan b {
    color: rgb(84, 185, 255);
    cursor: pointer;
}
.ForgetPassword{
    width: 350px;
    color: white;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
}
.ForgetPassword:hover{
    color: rgb(45, 185, 255);
    text-decoration: underline;
}
@media screen and (max-width: 426px) {
    .LoginLeft {
        display: none;
    }

    .LoginRight {
        display: flex;
        width: 100%;
    }

    .Input {
        width: 350px;
        height: 40px;
        padding: 10px;
        outline: none;
    }
    .Input_EyeIcon{
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid lightgray;
    }

    label {
        width: 350px;
        margin-bottom: 10px;
    }

    .LoginBttn {
        width: 350px;
        height: 40px;
        margin-top: 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    .AdminwelcomeMssg{
        width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5390D9;
    font-size: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    }
}