.Landing1Main {
    width: 100%;
    height: 500px;
    /* margin-top: 50px; */
    background-image: url('./LandingImg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Landing1MainWrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.LandinHeadingText {
    font-family: 'Akatab';
    margin: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    animation: backInLeft;
    animation-duration: 3s;
}

.SearchInputDiv {
    width: 500px;
    height: 45px;
    background-color: rgb(45, 185, 255);
    display: flex;
    border-radius: 8px;
}

.SearcHInputLanding1 {
    width: 450px;
    height: 45px;
    outline: none;
    padding: 20px;
    border: 1px solid lightgrey;
    border-left: none;
}

.SearchIcon {
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.SearchInputWrap {
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: -webkit-sticky;
    position: sticky;
    animation: backInRight;
    animation-duration: 3s;
    padding: 12px;
    top: 0;
    background-color: white;
    z-index: 2;
}

.SearchInputWrap2 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: white;
    z-index: 2;
}

.SearchBttn {
    width: 20%;
    height: 45px;
    background-color: rgb(45, 185, 255);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.SearchedResult_Main{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.SearchedResult_Card{
    width: 300px;
    height: 300px;
    border: 1px solid lightgrey;
text-decoration: none;
color: inherit;
}
.SearchedResult_Img{
    width: 100%;
    height: 200px;
}
@media screen and (max-width: 426px) {
    .SearcHInputLanding1 {
        width: 100%;
        height: 45px;
        outline: none;
        padding: 20px;
        border: 1px solid lightgrey;
        border-left: none;
    }

    .SearchInputWrap {
        width: 100%;
        height: 100px;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: -webkit-sticky;
        position: sticky;
        padding: 12px;
        top: 0;
        background-color: white;

    }

    .SearchInputWrap2 {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        padding: 10px;
        background-color: white;
    }

    .SearchInputDiv {
        width: 100px;
        height: 100px;
        background-color: rgb(45, 185, 255);
        display: flex;
        border-radius: 8px;
    }
    .SearchBttn {
        width: 30%;
        height: 45px;
        background-color: rgb(45, 185, 255);
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

}

@media screen and (max-width: 769px) {
    .SearchInputWrap {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: -webkit-sticky;
        position: sticky;
        padding: 12px;
        top: 0;
        background-color: white;
    }

    .SearchInputWrap2 {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        padding: 10px;
        background-color: white;
    }

    .SearchInputDiv {
        width: 400px;
        height: 45px;
        background-color: rgb(45, 185, 255);
        display: flex;
        border-radius: 8px;
    }
}