.HomeMainPage {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.HomeMainWrap{
    width: 100%;
    height: 100%;
}
.HomeMainPageWrap{
    width: 100%;
    height: 100%;
}
.HomeLanding1{
    width: 100%;
    height: auto;
}
.HomeBttn button {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.HomeBttn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.HomePageHome{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    justify-content: center;
}
.Prod_Card{
    width: 300px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.Img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
}
.BookBttn{
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.ProdPricBttn{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}