.HeaderMain{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 24, 24);
    position: fixed;
    z-index: 100;
    top: 0;
}
.HeaderWrap{
   width: 90%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  

}
@media screen and (max-width:426px){
    .HeaderWrap{
        display: none;
    }
}