.HeaderMain {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
  border-bottom: 1px solid lightgray;
}

.HeaderWrap {
   width: 90%;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.Header_Bttn{
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    /* background-color: red; */
}
.Header_Bttn1{
    width: 200px;
    height: 45px;
    border: none;
    color: white;
    background-color:  rgb(45, 185, 255);
    cursor: pointer;
    border-radius: 5px;
}
.Header_Bttn2{
    width: 200px;
    height: 45px;
    border: 1px solid rgb(45, 185, 255, 0.5) ;
    cursor: pointer;
    border-radius: 5px;
}
.HeaderLogoImg{
    width: 200px;
    height: 100px;
}
.HeaderNav {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Header_LogoDiv{
    width: 30%;
}
.HeaderBurgeMenu{
   display: none;
}
.HeaderDrop {
    width: 150px;
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    top: 80px;
    /* left: 10px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   

}
.TimesIcon{
    position: relative;
    left: 80px;
    top: 40px;
    font-size: 25px;
}
.MenuIcon{
    position: relative;
    left: 80px; 
    font-size: 30px;
}
.BurgerIcon {
    display: none;
}

@media screen and (max-width:426px) {
    .HeaderNav {
        display: none;
    }

    .BurgerIcon {
        display: flex;
    }
    .BurgerIcon{
        display:none ;
    }
    .HeaderLogoImg{
        width: 100px;
    }
    .HeaderBurgeMenu{
        display: flex;
        width: 250px;
    }
    .TimesIcon{
        position:absolute;
        left: 325px;
        top: 36px;
        font-size: 25px;
    }
    .MenuIcon{
        position: relative;
        left: 200px; 
        font-size: 25px;
    }
    .Header_Bttn{
        display: none;
    }
    .HeaderDrop{
        width: 300px;
        position: relative;
        left: 12px;  
        top: 160px;
    }
    .Header_Bttn1{
       width: 230px; 
    }
    .Header_Bttn2{
        width: 230px; 
     }
}