.HeaderMain {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ec4b6;
    position: fixed;
    z-index: 100;
    top: 0;
}

.HeaderWrap {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.HeaderNav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #2e5b56; */
}
.Header_LogoDiv{
    width: 20%;
}
.HeaderBurgeMenu{
    width: 20%;
}
.HeaderDrop {
    width: 200px;
    background-color: white;
    border: 1px solid lightgray;
    position: relative;
    top: 80px;
    left: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   

}
.TimesIcon{
    position: relative;
    left: 200px;
    top: 40px;
    font-size: 25px;
}
.MenuIcon{
    position: relative;
    left: 200px; 
    font-size: 30px;
}
.BurgerIcon {
    display: none;
}

@media screen and (max-width:426px) {
    .HeaderNav {
        display: none;
    }

    .BurgerIcon {
        display: flex;
    }
    .BurgerIcon{
        display:none ;
    }
    .HeaderLogoImg{
        width: 100px;
    }
    .HeaderBurgeMenu{
        display: flex;
        width: 250px;
    }
    .TimesIcon{
        position: relative;
        left: 200px;
        top: 30px;
        font-size: 25px;
    }
    .MenuIcon{
        position: relative;
        left: 200px; 
        font-size: 25px;
    }
}