.AllHotels_Main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.AllHotels_Main_Wrap{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.AllHotels_Card{
    width: 300px;
    height: 300px;
    border: 1px solid lightgrey;
}
.All_Hotels_Image{
    width: 100%;
    height: 200px;
}
.AddHotels-Detail{
    width: 100%;
    padding: 10px;
    height: 60px;
}
.Add_Room_Button{
    width: 100%;
    text-decoration: none;
    color: inherit;
}
.Add_Room_Button button{
    padding-left: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(45, 185, 255);
    cursor: pointer;
    color: white;
    height: 40px;
    border: none;
}