.UserDashBoardLeft_Main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(45, 185, 255);
}
.User_Home_Logo_Div{
    width: 100%;
    height: 20%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: red; */

}
.User_DashBoardLeft_Wrap {
    width: 95%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.HomeLogo{
    width: 160px;
    height: 80px;
    cursor: pointer;
}
.UserDashBoard_Nav {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.UserDashboardUserImgDiv {
    width: 100%;
    height: 40%;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.UserImg {
    width: 200px;
    height: 200px;
}

.UserDashBoardLeftNav_Icon_Div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
    cursor: pointer;
}